/* ---- Custom properties ----- */

:root {
  --ff-header: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
  --ff-body: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;

  --color-light: hsl(40, 23%, 97%);
  --color-darker: hsl(42, 15%, 13%);
  --color-dark: #333143;
  --color-accent: hsl(184, 77%, 34%);
  --color-accent_light: #18aab7;

  --fs-h1: 3rem;
  --fs-h2: 2rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 25%),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 15%);

  scroll-behavior: smooth;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
  }
}

@media (min-width: 1000px) {
  :root {
    --fs-h2: 3rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}


/* ---- General styles ---- */

body {
  background: var(--color-light);
  color: var(--color-dark);
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

:focus {
  outline: 3px solid var(--color-accent_light);
  outline-offset: 3px;
}

p {
  max-width: 70ch;
}

p+p {
  margin-block: 1em;
}


/* ----- Buttons -------- */

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background-color: var(--color-accent);
  color: var(--color-darker);
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 1.1px;
  font-weight: bold;
  text-transform: uppercase;
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}


/* ----- Basic topography ------ */

h1,
h2,
h3 {
  line-height: 1;
  font-family: var(--ff-header);
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}


.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: 300;
}


.section__title--intro strong {
  font-weight: 600;
  display: block;
}

.section__subtitle {
  margin-bottom: 1em;
  font-size: var(--fs-h3);
  color: var(--color-darker);
}


.section__subtitle--intro,
.section__subtitle--about {
  background: var(--color-accent_light);
  padding: 0.25em;
  font-weight: 400;
}


/* ------  Repeating features -------- */


.section__title--services::after,
.section__title--work::after,
.section__title--contact::after {
  content: "";
  display: block;
  width: 4em;
  height: 6px;
  opacity: 80%;
  margin: 0.1em auto 0.5em auto;
  background-color: var(--color-accent);
}


.social-list {
  display: flex;
  gap: 1.75em;
  justify-content: center;
}

.social-list__item:hover {
  color: var(--color-accent_light);
}

.social-list__link:focus {
  outline-offset: 3px;
}

.social-list__icon {
  font-size: 32px;
}


/* ----- nav bar --------------- */

.header {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

nav {
  background-color: var(--color-dark);
  color: var(--color-light);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.nav__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.nav__link {
  font-size: var(--fs-h3);
}

.nav__link:hover {
  color: var(--color-accent_light);
}

.nav__list .social-list__icon {
  color: var(--color-light);
}


/* ------ hamburger -------- */

.nav-toggle {
  padding: 1em;
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 0.7em;
  right: 0.5em;
  z-index: 999;
}

.nav-toggle:focus {
  outline: 0;
  transform: scale(1.2);
}

/* note the padding on the toggle: since that is the link, you want to pad it out a bit, as otherwise ONLY the middle line will be clickable */

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--color-darker);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

/* Some notes about hamburger buttons:  in this case, the position relative/position absolute combo means that a display type doesn't need to be specified.  That, plus left and right of 0 means that the pseudo-elements will match the width of the parent element.   All pseudo elements require a content, even if that content is blank,

At this point the three lines are stacked on each other
*/

.hamburger::before {
  top: 9px;
}

.hamburger::after {
  bottom: 9px;
}


/* ------ navigation controls ----- */

.nav-open .nav {
  transform: translateX(0);
  transition: transform 250ms ease-in-out;
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-9px);
}

/* This rotational combo turns it into an X.  the amount of translation should equal the offset, so 9 px in this case */

.nav-open .hamburger,
.nav-open .hamburger::before {
  background-color: var(--color-light);
}



/*-------- intro section ----------*/

.intro {
  position: relative;
  margin-block: 20vw;
}

.section__subtitle--intro {
  text-align: right;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin-block: 10vw;
    margin-inline: auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "spacer title"
      "subtitle subtitle";
    grid-template-columns: 20vw max-content;
  }

  .intro__spacer {
    margin-bottom: 5px;
    grid-area: spacer;
    background-image: url("../images/undraw_proud_coder_re_exuy.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
  }

  .section__title--intro {
    margin-bottom: -0.01em;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
  }
}

/*-------- services -----------*/

.services {
  background-color: var(--color-dark);
  color: var(--color-light);
  background: linear-gradient(to bottom, rgba(51, 49, 67, 0.25) 0%, rgba(51, 49, 67, 0.4) 40%, rgba(51, 49, 67, 0.85) 100%), url("../images/sergey-zolkin-handsoncomputer-small.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-block: 4em;
}

.section__title--services {
  position: relative;
}

.service {
  margin-block: 2.5em;
  text-align: left;
}

.service:nth-child(even) {
  text-align: right;
}

.service>* {
  margin: 0.5em;
}



@media (min-width: 700px) {
  .service-container {
    margin-inline: auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    gap: 2%;
  }

  .service,
  .service:nth-child(even) {
    text-align: center;
    max-width: 70ch;
  }

}



/* ---  about --------  */

.section__subtitle--about {
  width: 100%
}


@media (min-width: 875px) {


  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title title"
      "subtitle subtitle"
      "text text";
    grid-column-gap: 1em;
    position: relative;
    max-width: 1100px;
    margin-inline: auto;
  }


  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1/-1;
    grid-area: subtitle;
    width: calc(100% + 20vw);
    margin-bottom: 0.6em;
  }

  .about__text {
    grid-area: text;
    background-image: url("../images/undraw_learning_sketching_nd4f.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  .about__text p {
    width: 50ch;
  }

  .about__img {
    grid-area: img;
    margin-top: 1em;
    min-width: 100px;
  }

}

@media (min-width: 1100px) {
  .about__text {
    background-position: 90%;
  }
}




/* ------  Work ----------- */

.work {
  background-color: var(--color-dark);
  color: var(--color-light);
  text-align: center;
}

.section__title--work {
  margin-bottom: 1em;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1200px;
  margin-inline: auto;
  grid-gap: 0.5em;
}

.portfolio__item {
  background-color: var(--color-accent);
  overflow: hidden;
}

.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
    opacity 250ms linear;
}

.portfolio__item:focus .portfolio__img,
.portfolio__img:hover {
  transform: scale(1.2);
  opacity: 40%;
}



/* ------- Contact ------- */

.contact {
  padding-bottom: 0;
}

.section__title--contact::after {
  margin: 0.1em auto 0 auto;
  height: 8px;
  width: 100%;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.contact__form input,
.contact__form textarea {
  width: 100%;
}

.contact .btn {
  margin-top: 0.4em;
  padding-inline: 1.5em;
  background-color: var(--color-accent_light);
  align-self: center;
}

.contact .social-list {
  margin-block: 1.5em;
}

.contact .social-list__icon {
  color: var(--color-darker);
}


@media (min-width: 850px) {

  .contact {
    display: grid;
    grid-template-columns: 40ch 1fr;
    grid-template-areas:
      "title title"
      "text form"
      "socials form";
    grid-gap: 1em;
    max-width: 1000px;
    margin-inline: auto;
    padding-bottom: 20px;
  }

  .section__title--contact {
    grid-area: title;
  }

  .section__title--contact::after {
    height: 15px;
  }

  .contact__text {
    grid-area: text;
  }

  .contact__form {
    grid-area: form;
  }

  .contact .social-list {
    grid-area: socials;
    margin-block: 0;
  }
}


/* ------  footer -------- */

.footer {
  text-align: center;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
}

footer>small {
  font-size: 0.8em;
}