/* ---- Custom properties ----- */

:root {
  --ff-header: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
  --ff-body: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;

  --color-light: hsl(40, 23%, 97%);
  --color-darker: hsl(42, 15%, 13%);
  --color-dark: #333143;
  --color-dark-grey: hsl(40, 1%, 60%);
  --color-accent: hsl(184, 77%, 34%);
  --color-accent_light: #18aab7;

  --fs-h1: 3rem;
  --fs-h2: 2rem;
  --fs-h3: 1.5rem;
  --fs-h4: 1.25rem;
  --fs-h5: 1.125rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 25%),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 15%);

  scroll-behavior: smooth;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
  }
}

@media (min-width: 1000px) {
  :root {
    --fs-h2: 3rem;
    --fs-h3: 1.75rem;
    --fs-h4: 1.5rem;
    --fs-h5: 1.25rem;
    --fs-body: 1.1rem;
  }
}

/* ---- General styles ---- */

body {
  background: var(--color-light);
  color: var(--color-dark);
  font-family: var(--ff-body);
  font-size: var(--fs-h5);
  line-height: 1.6;
}

section,
article {
  padding: 1rem 1rem;
}

@media (min-width: 800px) {
  section,
  article {
    padding: 3rem 2rem;
  }
}

section,
article,
header {
  max-width: 1600px;
  margin-inline: auto;
}

@media (min-width: 900px) {
  .reduced-width {
    max-width: min(1600px, 75%);
  }
}

:focus {
  outline: 3px solid var(--color-accent_light);
  outline-offset: 3px;
}

p + p {
  margin-block: 1rem;
}

@media (min-width: 1000px) {
  .blog p + p {
    margin-block: 2rem;
  }
}

/* ----- Buttons -------- */

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background-color: var(--color-accent);
  color: var(--color-darker);
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 1.1px;
  font-weight: bold;
  text-transform: uppercase;
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

/* ----- Basic topography ------ */

h1,
h2,
h3 {
  line-height: 1;
  font-family: var(--ff-header);
}

h1 {
  font-size: var(--fs-h1);
}

h2,
.biggest-text {
  font-size: var(--fs-h2);
}

h3,
.bigger-text {
  font-size: var(--fs-h3);
}

h4,
.big-text {
  font-size: var(--fs-h4);
}

h5,
.medium-text {
  font-size: var(--fs-h5);
}

.bold-text {
  font-weight: 600;
}

.boldest-text {
  font-weight: 800;
}

.italic-text {
  font-style: italic;
  color: var(--color-dark-grey);
}

.header-text {
  font-family: var(--ff-header);
}

.accent-text {
  color: var(--color-accent_light);
}

.underline-text {
  text-decoration: underline;
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: 300;
}

.section__subtitle {
  margin-bottom: 1em;
  font-size: var(--fs-h3);
  color: var(--color-darker);
}

.section__subtitle--intro,
.section__subtitle--about,
.section__subtitle--project {
  background: var(--color-accent_light);
  padding: 0.25em;
  margin-top: -0.5rem;
  font-weight: 400;
  height: 2rem;
  color: var(--color-light);
}

@media (min-width: 800px) {
  .section__subtitle--intro {
    margin-top: -1rem;
  }
}

/* ------  Repeating features/elements -------- */

/* .section__title--services::after,
.section__title--work::after,
.section__title--contact::after {
  content: "";
  display: block;
  width: 4em;
  height: 6px;
  opacity: 80%;
  margin: 0.1em auto 0.5em auto;
  background-color: var(--color-accent);
} */

.text-block {
  max-width: 65ch;
  margin-inline: auto;
}

.dividing-line {
  width: min(60ch, 80%);
  margin-inline: auto;
  height: 1px;
  background-color: var(--color-dark-grey);
}

.extra-margin {
  margin-block: 1rem;
}

@media (min-width: 800px) {
  .extra-margin {
    margin-block: 3rem;
  }
}

/* ----- nav bar --------------- */

.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light);
  opacity: 0.95;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.header > a {
  margin-top: 0.5rem;
}

.nav-small {
  display: block;
  background-color: var(--color-dark);
  color: var(--color-light);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.nav-large {
  display: none;
}

.nav__list--toggle {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.nav__link {
  font-size: var(--fs-h3);
}

.nav__link:hover {
  color: var(--color-accent_light);
}

.nav__list--toggle .social-list__icon {
  color: var(--color-light);
}

/* ------ hamburger -------- */

.nav-toggle {
  padding: 1em;
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 0.7em;
  right: 0.5em;
  z-index: 999;
  margin-top: 0.4rem;
}

.nav-toggle:focus {
  outline: 0;
  transform: scale(1.2);
}

/* note the padding on the toggle: since that is the link, you want to pad it out a bit, as otherwise ONLY the middle line will be clickable */

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--color-darker);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

/* Some notes about hamburger buttons:  in this case, the position relative/position absolute combo means that a display type doesn't need to be specified.  That, plus left and right of 0 means that the pseudo-elements will match the width of the parent element.   All pseudo elements require a content, even if that content is blank,

At this point the three lines are stacked on each other
*/

.hamburger::before {
  top: 9px;
}

.hamburger::after {
  bottom: 9px;
}

/* ------ navigation controls ----- */

.nav-open .nav-small {
  transform: translateX(0);
  transition: transform 250ms ease-in-out;
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-9px);
}

/* This rotational combo turns it into an X.  the amount of translation should equal the offset, so 9 px in this case */

.nav-open .hamburger,
.nav-open .hamburger::before {
  background-color: var(--color-light);
}

/* ------ Nav bar for bigger screens  -------- */
/* --  Or, now let's get rid of everything I just wrote -- */

@media (min-width: 600px) {
  .nav-toggle {
    display: none;
  }

  .nav-large {
    display: block;
  }

  .nav-small {
    display: none;
  }

  .nav__list--flex {
    display: flex;
    font-size: var(--fs-h4);
    gap: 2rem;
    padding-right: 1rem;
  }

  .nav__list--flex > li {
    position: relative;
  }

  .nav__list--flex > li::after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    width: 0;
    background-color: var(--color-accent_light);
    transition: 0.3s;
  }

  .nav__list--flex > li:hover::after {
    width: 100%;
    transition: all linear 250ms;
  }

  .header > a {
    margin-top: 0;
  }
}

/* ------ Social media links -------- */

.social-list {
  display: flex;
  gap: 1.75em;
  justify-content: center;
}

.social-list__icon:hover {
  color: var(--color-accent_light) !important;
}

.social-list__link:focus {
  outline-offset: 3px;
}

.social-list__icon {
  font-size: 32px;
}

/*-------- intro section ----------*/

.intro {
  margin-top: 70px;
  background-color: var(--color-dark);
  color: var(--color-light);
  background: linear-gradient(
      to bottom,
      rgba(51, 49, 67, 0.25) 0%,
      rgba(51, 49, 67, 0.4) 40%,
      rgba(51, 49, 67, 0.85) 100%
    ),
    url("../images/sergey-zolkin-handsoncomputer-small.jpg");
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: cover;
  padding-block: 4rem;
}

@media (min-width: 900px) {
  .intro {
    padding-block: 6rem;
  }
}

.intro__text {
  width: 80%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.section__subtitle--intro {
  text-align: right;
  width: 100%;
}

/* ------  footer -------- */

.footer {
  text-align: center;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
  margin-bottom: 0.5em;
  margin-top: 3em;
}

footer > small {
  font-size: 0.8em;
}

.footer .social-list__icon {
  color: var(--color-darker);
}
