/* ------------  RESET & BOILERPLATE -----------  */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

li {
  list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}




/* ------------ Custom Elements & Fonts -------------- */


:root {
  --color-light: white;
  --color-dark: black;
  --color-accent: purple;
  --font-title: 'Raleway', sans-serif;
  --font-text: 'Open Sans', sans-serif;

  --ratio: 1.5;
  --s0: min(4vw, 1rem);
  --s-1: calc(var(--s0) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
}

.stack > * + * {
  margin-top: var(--s0);
}

.body-stack ~ * {
  margin-top: var(--s5);
}

body {
  box-sizing: border-box;
  margin: min(20px, 2vw);
  font-family: var(--font-text);
  line-height: 1.5;
  font-size: var(--s0);
}

body > * + *:not(.projects, div) {
  width: min(100ch, 80%);
  margin-inline: auto;
}

.spacer {
  width: 30%;
  margin-inline: auto;
  border: 1px solid rgb(180, 180, 180);
}

.heading {
  font-family: var(--font-title);
  font-weight: 600;
}

h1 {
  font-size: var(--s3);
  line-height: 1.2;
}

h2 {
  font-size: var(--s2);
}

h3 {
  font-size: var(--s1);
}

.txt-large {
  font-size: var(--s1);
}

bold {
  font-family: var(--font-title);
}

small {
  font-size: var(--s-1);
}

.attribution > a {
  text-decoration: underline;
}

.social-media {
  display: flex;
  width: 80%;
  margin-inline: auto;
  justify-content: center;
  gap: var(--s0);
}

.social-media img {
  width: 25px;
  transition: 0.2s
}


/* --------- Header-Top --------- */

.header-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px solid rgb(180, 180, 180);
}

.header-top .logo,
.header-top > .dropmenu {
  padding: 10px;
}

.header-top .logo {
  position: absolute;
  right: 1%;
  width: 50px;
}


/* ------- Burger Button --------- */


.dropmenu {
  display: flex;
  align-items: center;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.dropmenu-burger {
  width: 40px;
  height: 4px;
  margin-right: min(25px, 4vw);
  background: black;
  border-radius: 5px;
  transition: ease-in-out 0.5s;
  transform:translateX(10px);
}

.dropmenu-burger::before,
.dropmenu-burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background: black;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.dropmenu-burger::before {
  transform: translateY(-14px);
}

.dropmenu-burger::after {
  transform: translateY(14px);
}

/* Animation */

.dropmenu.open .dropmenu-burger {
  background: transparent;
}

.dropmenu.open .dropmenu-burger::before {
  transform: rotate(45deg);
  background-color: #fff;
}

.dropmenu.open .dropmenu-burger::after {
  transform: rotate(-45deg);
  background-color: #fff;
}


/* ----- Navigation Menu -------- */

.menu {
  position: absolute;
  background: #000;
  margin-left: -10px;
  z-index: -1;
  height: 100vh;
  top: 0;
  width: 0%;
  transition: 0.5s;
  overflow: hidden;
}

.menu  .links {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap:10px;
  padding: 10vw 0;
}

 .menu .links li a {
   display: block;
   padding:15px 14px;
   text-decoration:none;
   color:#FFF;
   transition: 0.2s;
 }


.menu .links li:hover a,
.social-media img:hover {
  transform: scale(1.4);
  transition: 0.2s;
}

.menu.open {
  display: block;
  width: min(50vw, 250px);
}

.menu .social-media img {
  filter: invert(100%) sepia(7%) saturate(11%) hue-rotate(260deg) brightness(104%) contrast(105%);
}


/* ----------- Main -----------------*/

main {
  padding-top: 100px;
  margin-top: var(--s3);
}

main.index {
  display: flex;
  align-items: center;
  gap: var(--s0);
}

main.index img {
  background-color: white;
  width: min(42%, 300px);
  max-width: 100%;
  border-radius: 10px;
  border: 8px solid var(--color-accent);
  align-self: flex-start;
  flex: 1 0 auto;
}

main.index .txt-large {
  margin-top: var(--s0);
}



  /* ---------  About --------------- */
  
  .about {
    display: flex;
    flex-direction: row-reverse;
    gap: 3vw;
  }

  .about-text {
    max-width:60ch;
  }

  .about-img {
    width: min(50%, 300px);
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: none;
  }

  .about img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(19, 18, 18, 0.2);
  }

  /*------ Photo by Alex Motoc
  https://unsplash.com/@alexmotoc --------*/


/* --------- Projects --------------  */

.projects .heading {
  text-align: center;
}

.projects > .container {
  width: 90%;
  margin-inline: auto;
  margin-top: var(--s1);
  display: grid;
  grid-gap: min(1vw, 1rem);
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));

}

.card {
  background-color: var(--color-light);
  padding-block: min(6vw, 25px);
  padding-inline: min(2vw, 10px);
  border: 1px solid var(--color-dark);
  box-shadow: 0 2px 5px rgba(19, 18, 18, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.card > * {
  margin-inline: auto;
}

.card * + * {
  margin-top: 10px;
  text-align: center;
  width: 95%;
}

.card > img {
  display: block;
  max-width: 100%;
  width: 80%;
}


/* ---------------  Contact --------------- */

.contact {
  display: flex;
  flex-direction: column;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: var(--s0);
}

.contact form *:not(button) {
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 10px;
  font-family: var(--font-text);
  font-size: var(--s0);
  background-color: rgb(250, 250, 250);
}

input {
 height: var(--s2);
}



/* ---------------  Footer --------------- */

footer * {
  text-align: center;
}



/* --------- Media Queries -------- */

/* Would need a breakpoint at 630 to change the way my hero bit is laid out */